#join {
    background-image: url("../styles/footer-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    bottom: 0;
}

.join-title {
    margin-top: 0px;
    box-sizing: border-box;
    margin-bottom: 0px;
    transition: 0.5s ease;
}

.join-title h1 {
    color: white;
    font-size: 100px;
    font-weight: 900;
    font-family: Space Grotesk;
    box-sizing: border-box;
    line-height: 1.1em;
    text-transform: uppercase;
    padding: 0px 50px;
}

.join-title span {
    background: linear-gradient(25deg, rgb(54, 10, 188) 0.5%,
            rgb(128, 0, 111), rgb(197, 33, 134) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.join-subtitle {
    margin-top: 0px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 70px;
}

.link-button {
    background: linear-gradient(25deg, #2600fc, #ff00ea);
    border-radius: 10rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 4rem;
    transition: all .2s;
    margin-bottom: 200px;
    transition: 0.5s ease
}

.link-button a {
    color: white;
    text-decoration: none;
}

.eth-float2 {
    -webkit-animation: move2 2s infinite;
    animation: move2 2s infinite;
    position: relative;
    /* right: -277px; */
    /* top: -190px; */
    bottom: -190px;
    right: 400px;
    height: 110px;
    width: 110px;
    transform: translate(-50%, -50%);
}

.btc-float2 {
    -webkit-animation: move2 2s infinite;
    animation: move2 2s infinite;
    position: relative;
    top: -137px;
    left: 390px;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
}

@keyframes move2 {

    0%,
    100% {
        transform: translateY(0px) scale(0.95);
    }

    50% {
        transform: translateY(-20px) scale(0.9);
    }
}

.footer-content__socials i {
    background: linear-gradient(25deg, rgb(54, 10, 188) 0.5%,
            rgb(128, 0, 111), rgb(197, 33, 134) 100%);
    -webkit-text-fill-color: white;
    background-clip: text;
    box-sizing: border-box;
    transition: 0.5s ease;
}

.fa-brands {
    font-size: 35px;
    right: 8px;
    position: relative;
    bottom: 7px;
}

.fa-brands:hover {
    background: linear-gradient(25deg, rgb(54, 10, 188) 0.5%,
            rgb(128, 0, 111), rgb(197, 33, 134) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer-content__text {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
    transition: 0.5s ease;
}

.footer-content__text p:hover {
    background: linear-gradient(25deg, rgb(54, 10, 188) 0.5%,
            rgb(128, 0, 111), rgb(197, 33, 134) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

.privacy {
    margin-right: 30px;
    transition: 0.5s ease;
}

@media(max-width:950px) {
    .join-title h1 {
        font-size: 60px;
    }

    .join-subtitle {
        font-size: 22px;
    }

    #join {
        background-image: none;
    }

    .link-button {
        font-size: 1rem;
        padding: 1.5rem 2.5rem;
    }
}

@media(max-width:1024px) {
    .eth-float2 {
        display: none;
    }

    .btc-float2 {
        display: none;
    }
}