.market-title {
    color: white;
    font-size: 50px;
}

.market-title h3 {
    font-weight: 1000;
    margin-bottom: 30px;
    display: flex;
    margin-left: 100px;
}

.market-content__coin-list__top {
    background: linear-gradient(25deg, #2600fc, #ff00ea);
    border-radius: 8px 8px 0 0;
    color: #f3f2f4;
    display: grid;
    font-size: 1.5rem;
    font-weight: 500;
    grid-template-columns: 16fr 25fr 25fr 25fr;
    padding: 0.9rem;
    text-align: center;
    margin: 10px 100px;
}

.market-content__coin-list__top p {
    color: white;
}

.market-content__coin-list__row {
    margin: 10px 100px;
    background-color: #0f051d;
    border-bottom: 1px solid #f3f2f4;
    color: #f3f2f4;
    display: flex;
    font-size: 1.8rem;
    font-weight: 800;
    height: auto;
    width: 88%;
}

.spam_row_elements_container {
    background: black;
    border-radius: 8px 8px 0 0;
    color: #f3f2f4;
    display: grid;
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
    grid-template-columns: 16fr 25fr 25fr 25fr;
    padding: 0.9rem;
    text-align: center;
    margin: 10px 0px;

}

.market_coins_img img {
    width: 50px;
    height: 50px;
}

.red-text {
    color: #ee2400;
}

.green-text {
    color: #66FF99;
}