.eth-float {
    animation: move 2s infinite;
    position: absolute;
    /* right: -277px; */
    /* top: -190px; */
    top: 30%;
    right: 8%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
}

.btc-float {
    animation: move 2s infinite;
    position: absolute;
    top: 30%;
    left: 8%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
}

@keyframes move {

    0%,
    100% {
        transform: translateY(0) scale(0.9);
    }

    50% {
        transform: translateY(-20px) scale(0.9);
    }
}



.hero-section {
    width: 100%;
    height: 70vh;
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: whitesmoke;
    transition: 0.5s ease;
}

.mobile-btn-hero {
    display: none;
}

.hero-content span {
    /* color: purple; */
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    color: transparent;
    transition: 0.5s ease;
    /* color: linear-gradient(25deg, #2600fc, #ff00ea); */
}

.hero-content-text {
    color: white;
    max-width: 104rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    position: relative;
    /* margin: 30vh auto; */

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
    font-weight: 1000;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Space Grotesk, sans-serif;

}


/* Top-4 elements */


.coin-slider {
    top: 50vh;
    position: relative;
    max-width: 70rem;
    height: 11rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
    object-fit: contain;
    color: white;
    transition: 0.5s ease;
}

.top-4_image_element_image img {
    height: 100px;
    width: 100px;
}


.top-4-written-content {
    font-size: 30px;
    font-weight: 700;
}

.red-text {
    color: #ee2400;
}

.green-text {
    color: #66FF99;
}


@media(max-width:950px) {
    .hero-content h1 {
        font-size: 60px;
    }

    .eth-float {
        display: none;
    }

    .btc-float {
        display: none;
    }
}

@media(max-width:600px) {
    .coin-slider {
        display: none;
    }

    .mobile-btn-hero {
        display: flex;
        align-items: center;
        background: linear-gradient(25deg, #2600fc, #ff00ea);
        border-radius: 10rem;
        color: #f3f2f4;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: space-between;
        margin: auto;
        padding: 0.2rem 2rem;
        padding-right: 0.5rem;
        text-align: center;
        transition: all .2s;
        width: 15rem;
        text-decoration: none;
        position: relative;
        top: 370px;
        font-family: Space Grotesk;
    }

    .arrow {
        background: transparent;
        text-align: end;
    }
}